.carousel-image {
    position:unset;
    transition-property: width, height;
    width: 24vh;
    height: 9vh;
    margin: 0px 0px;
    padding: 10px 10px;
}

.carousel-image:hover{
    cursor: pointer;
}


.carousel-group {
    position: relative;
    height:fit-content;
    width: auto;
    text-align: center;
    padding: 5px 50px;
    margin: 10px;
}
.carousel-group:hover {
    margin: 10px;
}