.container {
    position: relative;
    font-family: Arial;
    text-align: center;
    line-height: 5vh;
  }
  .centered {
  position: absolute;
  bottom: 26.5vh;
  right: 91.2vh;
  background-color: white;
  color: black;
  padding-left: 2vh;
  padding-right: 2vh;
  }
.the{
    font-size: 7vh;
}
.hol{
    font-size: 7vh;
}
.ho{
    font-size: 4vh;
}